body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* .........Nav Related style........... */

.header{
    
    background-color: #FFF;
}


nav li{
    list-style: none;
    margin-right: 50px;
    font-size: 18px;
  
    font-weight: 500;
   
}
li a{
    text-decoration: none;
    color: black;
}
.fram{
    height: 36px;
    
    margin-left: 92px;

}
.icon{
    height: 15px;
    width: 18px;
}
.music-icon{
    height: 15px;
    width: 20px; 
}
.icon-button{
    border-radius: 5px;
    background-color: #e7e6e9;
    border: 0;
    font-size: 20px;
    padding: 20px 40px;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.icon-button:hover{
    background-color: #ff42a5;
}


nav{
    display: flex;
    justify-content: space-around;
    align-items: certer;
}
nav>ul{
    display: flex;
    align-items: center;
}
.primary-color{
    color: #ff42a5;
}
.nav-title{
    font-size: 45px;
    font-weight: 700;
}

/* .............Banner Related style.............. */


.banner{
    padding: 30px 30px 30px 200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.banner-discription{
    color: #534C64;
}
.btn-primary{
    border-radius: 30px;
    background-color: #ff42a5;
    border: 0;
    color: white;
    font-size: 20px;
    padding: 20px 40px;
}
.btn-secondary{
    border-radius: 30px;
    background-color: #4EC5F7;
    border: 0;
    color: white;
    font-size: 20px;
    padding: 20px 40px;
    margin-top: 15px;
}
.heading-title{
    font-size: 44px;
    text-transform: uppercase;
    font-weight: 700;
    
}
.main-title{
    margin-bottom: 13px;
    margin-top: -49px;
    font-size: 80px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* .............Online Gamer Related style.............. */
    .online-game{
        max-width: 1140px;
        margin: 0 auto;
    }
    .online-heading{
      font-size: 40px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 5px;
    }
    .online-discription{
        color: #534C64;
        text-align: center;
        margin-top: 20px;
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .online-img{
        display: flex;
        gap: 20px;
        justify-content: center;
    }

/* .............play-instanly Related style.............. */

    .play-instanly{
        display: flex;
        justify-content: center;
        margin-top: 50px;
        gap: 230px;
    }
       
    
    .play-instantly-text{
        padding-top: 200px;
    }
              

    .play-instantly-discription{
        color: #534C64;
        text-align: center;
       
        font-size: 16px;
        font-weight: 400;
        line-height: 30px;
        
    }

/* ............Footer Related style.............. */
    
.footer{
    background-color: black;
}
.second-span{
    counter-reset: white;
}
    .footer-li ul{
       display: flex;
       max-width: 1140px;
       margin: 0 auto;
       text-align: center;
       margin-left: 388px;
       margin-top: -15px;
        
    }
    .footer-title2{
        color: white;
    }


    .footer-title{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        padding-top: 120px;
}
    
    .footer-li li{
        list-style: none;
        margin-right: 50px;
        font-size: 18px;
        font-weight: 500;
       
       
    }
    .footer-li li a{
        display: flex;
        color: white;
        font-size: 16px;
    }

    .icon-image img{
        width: 20px;
        height: 25px;
        
        
    }
    .fa-brands, .fa-solid{
        color: white;
    }

    .icon-image{
        display: flex;
        text-align: center;
        margin-left: 520px;
        gap: 40px;
        font-size: 50px;
        padding-top: 50px;
    }
    .footer-second-li{

    }
    .footer-second-li li a{
        display: flex;
        color: rgb(170, 164, 164);
        font-size: 13px;
    }
    .footer-second-li ul{
        display: flex;
        max-width: 1140px;
        margin: 0 auto;
        text-align: center;
        margin-left: 388px;
        padding-top: 55px;
        gap: 50px;
    }
    .footer-description{
        color: rgb(170, 164, 164);
        text-align: center;
        padding-bottom: 50px;
        padding-top: 20px;
    }





















/* .........Responsive style............. */
@media screen and (max-width:576px) {
    .banner,nav,.online-img, .play-instanly{
        flex-direction: column;
    }
    .banner{
        padding: 20px;
    }
    nav>ul{
        flex-direction: column;
        gap: 20px;
    }


    .banner img{
        width: 100%;
    }  
    
    .play-instanly-img{
        width: 100%;
        margin-top: -143px;
    }
    .heading-title {
       text-align: center;
}
.online-img {
    padding: 60px;
}

}



@media screen and (min-width:576px) and (max-width:960px) {

    .banner,nav{
        flex-direction: column;
        padding-left: 136px;
    }

    nav {
        margin: 50px;
      }
}
